.env
__pycache__/
*.py[cod]
.venv/
node_modules/
dist/
.env.local
worker/.dev.vars
backend/data/*.json
backend/.venv/
frontend/node_modules/
frontend/dist/
worker/node_modules/
data/*.psd
data/*.txt
documents/*.pdf
.pytest_cache/
backend/data/uploads/*
!backend/data/uploads/.gitkeep
